<div class="my-container">
	
	<div class='about'>
	<div class="about-me">
		<h4>About Me</h4>
		<p>Hello there! I am a Miami based web developer/designer. When I am not working on websi	tes, I am probably having fun - enjoying life - with friends and family or wondering about the phenomenons surrounding me</p> 
	</div>
	<a href="/assets/resume.pdf" download="jay_resume">
	<img class="w3-circle avatar" src="/assets/231.JPG" alt="avatar">
	</a>
	<div class='about-you'>
		<h4>About your current state</h4>
		<p>Since the speed of light is constant (299,792 kilometers per second), it took 0.0000000013342564 seconds for this beam of light of display containing <i>this</i> information to travel to your eyes. From your perspective, it happened almost instantly. Also, study suggests that your brain will roughly spend only 5 seconds to process this paragraph(less than 60 bits per second). Simply, it makes you and I - all of us - one hell of a species. You! you're awesome. Try not to forget that.</p>
	</div>
	</div>
	</div>
<!-- Here ends "my-container" -->


	<div class="portfolio-container">
   		<div class="developer-window window-inactive">
   			<h1 class="js-developer title-center">Developer</h1>
   		</div>
   
   		<div class="designer-window window-inactive">
   			<h1 class='js-designer title-center' style='color: white;'>Designer</h1>
   		</div>
	</div>
<div style="clear:both"></div>

	
	<div class="see-container">
		<div class="skills-row the-row">
			<div><h3>Skills</h3></div>
		</div>

		<div class="education-row the-row">
			<div><h3>Education</h3></div>
		</div>

		<div class="experience-row the-row">
			<div><h3>Experience</h3></div>
		</div>
	</div>