<div class="my-container">
	
	<div class='about'>
	<div class="about-me">
		<h4>About Me</h4>
		<p>Web Developers HATE HIM!! He found out this new trick 
    that helped him master programming. Click on the photo to know how.</p> 
	</div>
	<a href="/assets/resume.pdf" download="jay_resume">
	<img class="avatar" src="/assets/231.JPG" alt="avatar">
	</a>
	<div class='about-you'>
		<h4>Seriously, About me</h4>
		<p>Hello there! I am a Miami based web developer/designer. When I am not working on websites, I am probably having fun - enjoying life - with friends and family or wondering about the phenomenons surrounding me.</p>
	</div>
	</div>
	</div>
<!-- Here ends "my-container" -->


	<div class="portfolio-container">
   		<div class="developer-window window-inactive">
   			<h1 class="js-developer title-center">Developer</h1>
   			<div class="developer-items developer-items-inactive">
   				<div class="developer-seeno card developer-card">
   					<div class="card-image waves-effect waves-block waves-light">
   						<img src="/assets/seeno-ss.png" alt="seeno screenshot" class="activator" >
   					</div>
   					<div class='card-content'>
   						<span class="card-title activator grey-text text-darken-4">Seeno<i class="material-icons right">more_vert</i></span>
      					<p><a href="https://www.seeno.co" target="_blank">Go to page</a></p>
   					</div>
   					<div class="card-reveal">
     					 <span class="card-title grey-text text-darken-4">Seeno<i class="material-icons right">close</i></span>
     					 <p>A social networking website for travel- ers and immigrants. Connects people from the same country who are current- ly in a new country</p>
    				</div>
   				</div>

   				<div class="developer-ironhack card developer-card">
   					<div class="card-image waves-effect waves-block waves-light">
   						<img src="/assets/codes.png" alt="seeno screenshot" class="activator" >
   					</div>
   					<div class='card-content'>
   						<span class="card-title activator grey-text text-darken-4">Small Apps<i class="material-icons right">more_vert</i></span>
      					<p><a href="https://github.com/javkhlantugs/Ironhack" target="_blank">Go to source code</a></p>
   					</div>
   					<div class="card-reveal">
     					 <span class="card-title grey-text text-darken-4">Small Apps<i class="material-icons right">close</i></span>
     					 <p>2 months of intense coding. Created pizza builder, spotify demo and many other fully functional small apps. Tools used: Ruby, Rails, javascript, SQL, jQuery, HTML & CSS, etc.</p>
    				</div>
   				</div>
   			</div>
   		</div>
   
   		<div class="designer-window window-inactive">
   			<h1 class='js-designer title-center' style='color: white;'>Designer</h1>
   			<div class="designer-items designer-items-inactive">
   				<h5 class='logos-title'>Logos</h5>
   				<div class="card-panel blue-grey lighten-5 seeno-card">
          <img class='logo-seeno logos-items materialboxed' src='/assets/seeno.png' data-caption='Seeno.co (Website)' width="90px">
        </div>
        <div class="card-panel blue-grey lighten-5">
   				<img class='logos-items materialboxed' src='/assets/ror.png' data-caption='RailsonRails.co (website)'>
          </div>
          <div class="card-panel blue-grey lighten-5">
   				<img class='logos-items materialboxed' src='/assets/jaba.png' data-caption='Jaba Air Ticketing (Airplane ticket issuing agency)'>
          </div>
          <div class="card-panel blue-grey lighten-5">
   				<img class='logos-items materialboxed' src='/assets/Los.png' data-caption='Restaurant(Located in Mongolia)'>
          </div>
          <div class="card-panel blue-grey lighten-5">
   				<img class='logos-items materialboxed' src='/assets/belletrism.png' data-caption='Facebook page'>
          </div>
   			</div>
   		</div>
	</div>
	<!-- portfolio container ends here -->
<div style="clear:both"></div>

	
	<div class="see-container">
		<div class="skills-row the-row">
			<div><h3>Skills</h3></div>
      <div class='backend-container' style="background-color: transparent;">
      <h5 class='backend-header'>Back-end</h5>
      <img src="/assets/backend.png" class="backend-graph" alt="image">
      </div>
      <div class="frontend-container" style="background-color: transparent;">
      <h5 class="backend-header" style='margin-bottom: 5px;'>Front-end</h5>
      <img src="/assets/frontend.png" class="frontend-graph" alt='image'>
      </div>
		</div>

		<div class="education-row the-row">
			<span>
          <h5>Santa Monica College</h5>
          <p>Associate's Degree in Computer Science</p>
          <p>2013 - 2015</p>   
      </span>
      <div class='education-title'><h3>Education</h3></div>
      <span>
          <h5>IronHack</h5>
          <p>Full Stack Web Development(400+ hours)</p>
          <p>Oct.2016 - Dec.2016</p>
      </span>
		</div>

		<div class="experience-row the-row">
			<span class='timeline-container'>
      <p class='timeline-items'>Web Designer(Intern)<br>ICT, LLC (Ulaanaatar, Mongolia)</p>
      <img class='timeline-image' src="/assets/timeline.png" alt="timeline">
      </span>
      <div><h3>Experience</h3></div>
		</div>
	</div>