<div class="my-container">
	
	<div class='about'>
	<div class="about-me">
		<h4>About Me</h4>
		<p>Hello there! I am a Miami based web developer/designer. When I am not working on websites, I am probably having fun - enjoying life - with friends and family or wondering about the phenomenons surrounding me</p> 
	</div>
	<a href="/assets/resume.pdf" download="jay_resume">
	<img class="w3-circle avatar" src="/assets/IMG_7665.jpg" alt="avatar">
	</a>
	<div class='about-you'>
		<h4>About your current state</h4>
		<p>Since the speed of light is constant (299,792 kilometers per second), it took 0.0000000013342564 seconds for this beam of light of display containing <i>this</i> information to travel to your eyes. From your perspective, it happened almost instantly. Also, study suggests that your brain will roughly spend only 5 seconds to process this paragraph(less than 60 bits per second). Simply, it makes you and I - all of us - one hell of a species. You! you're awesome. Try not to forget that.</p>
	</div>
	</div>
	</div>