<div class='my-container'>
	<div class="container position-relative">
		<div class='about row'>
			<div class="about-me col-md-5 col-xs-8 text-right">
				<h4 class=''>About Me</h4>
				<p class=''>Web Developers HATE HIM!! He found out this new trick 
    			that helped him master programming. Click on the photo to know how.</p> 
			</div>
			<div download="jay_resume" class='avatar-container col-md-2 col-xs-4'>
				<img class="avatar " src="/assets/231.JPG" alt="avatar">
			</div>
			<div class='about-you col-md-5 col-xs-12'>
				<h4>Seriously, About me</h4>
				<p>Hello there! I am a web developer/designer located in Los Angeles. When I am not working on websites, I am probably having fun - enjoying life - with friends and family or wondering about the phenomenons surrounding me.</p>
			</div>
		</div>
	</div>
</div>

<div class='portfolio-container container-fluid'>
	<div class='window-inactive developer-window-inactive js-developer'>
		<div class='inner-border'>
			<button type="button" class="portfolio-title center-block btn btn-primary btn-lg developer-button">Developer</button>
			<div class='developer-items'>
			</div>
		</div>
	</div>
	<div class='window-inactive designer-window-inactive js-designer'>
		<div class='inner-border'>
			<button type="button" class="portfolio-title center-block btn btn-primary btn-lg designer-button">Designer</button>
		</div>	
	</div>
</div>

<div id='skills-education'>
	<div class='container skills-container'>
		<div class='row'>
			<div class='col-md-2 skills-item'>
			<p>Skills</p>
			</div>
			<div class='col-md-5 skills-item'>
			</div>
			<div class='col-md-5 skills-item'>
			</div>
		</div>
	</div>
</div>