// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
	height: 100%;
	background-image: url("/assets/nature.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
button:focus, button:active {outline:0 !important;}

// About me section START

.my-container {
	background-image: url("/assets/nature.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.avatar {
	width: auto;
	max-height: 120px;
	margin: auto;
	display: block;
}
.position-relative{
	height: 100%;
	position: relative;
}

.about {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
// About me ends ENDEND

// portfolio container section START
.portfolio-container {
	width: 100%;
	padding: 0 !important;
	position: relative;
}

.developer-window-inactive, .designer-window-inactive{
	width: 50%;
	transition: all 0.4s;
}

.designer-window, .developer-window, .developer-window-inactive, .designer-window-inactive, .developer-min, .designer-min {
	display: inline-block;
	position: absolute;
}

.developer-window {
	width: 80%;
	transition: all 0.4s;
}

.developer-min {
	width: 20%;
	transition: all 0.4s;
}

.designer-min {
	width: 20%;
	transition: all 0.4s;
}
.designer-window {
	width: 80%;
	transition: all 0.4s;
}
.designer-window-inactive, .designer-window, .designer-min {
	right: 0;
}

.inner-border {
	margin: 5px;
	border: 1px solid black;
	height: 96%;
}

@media only screen and (max-width: 768px) {
	.developer-window, .designer-window, .developer-window-inactive, .designer-window-inactive {
		width: 100%;
		position: static;
	}
}

.portfolio-title {
	border-radius: 0;
	background: none !important;
	padding: 12px 22px;
	border: 1px solid black;
	color: black;
	margin-top: 20px;
	margin-bottom: 10px;
}

.portfolio-title:hover, .portfolio-title:focus, .portfolio-title:active, .portfolio-title.active, .open > .dropdown-toggle.portfolio-title {
	color: black !important;
	border-color: black !important;
}
.portfolio-title:active, .portfolio-title.active {
	border-color: #007299 !important;
	color: black !important;
	box-shadow: none !important;
}

.window-active {
	height: 500px !important;
}
